/* for header.html */
body {


    background-color: #5475;
    margin: 0;
    /* Remove default body margin */
    padding: 0;
    background-color: #a4cce7;

}

.navbar {
    display: flex;
}

.container-fluid {
    position: relative;
    top: 20px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
    border-radius: 25px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px 30px;
    color: rgba(248, 243, 243, 0.918);


}


@media (max-width: 767px) {
    .navbar-nav {
        /* for not showing in center*/
        position: static !important;
    }
}

/* for increasing margin on links*/
.nav-link {
    margin: 0 10px 0 10px;
    cursor: pointer;

}

.navbar-nav {
    position: relative;
    left: 25%;

}


/* for index.html page  */


.homeMain {
    display: flex;
    position: relative;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    top: 40px;
    border-radius: 16px;
    min-height: calc(100vh - 200px);
}


.whatsApp:hover {
    scale: 1.1;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    transition: 0.2s ease-in-out;
    box-shadow: 0px 0px 7px green inset,
        0px 0px 7px green;
}

.homeLeft {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    /* Make homeLeft take up the available space */
    transform: translateX(-100px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 40px;
    padding-left: 110px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    /* animation: slideFromRight 1.5s ease-out; */
    height: 400px;
    width: 100%;
}



@media (max-width: 767px) {
    .homeLeft {
        padding-right: 0;
        width: 100%;
        transform: none;
        padding-left: 20px;
        flex: none;
    }

    #textChange {
        font-family: "comic sans ms", sans-serif;
    }

    /* for smaller device */
    .homeRight .indexImage {
        display: none;
        /* Hide the image within the homeRight div on smaller screens */
    }
}

.text {
    font-size: 18px;
    animation: slideFromRight 1.5s ease-out;
    font-weight: bold;

}

#textChange {
    color: blue;
    font-size: 22px;
    font-weight: bold;
    font-family: "comic sans ms", sans-serif;
}

.passionate {
    font-size: 20px;
}

.homeRight {
    flex: 1;
    /* Make homeRight take up the available space */
    display: flex;
    align-content: center;
    align-items: center;

}

.indexImage {

    max-height: 350px;
    max-width: 90%;
    height: auto;
    display: block;

    border-radius: 50%;
    box-shadow: 0px 0px 25px 15px rgba(0, 255, 255, 0.7);
    /* position: relative; */

    transition: box-shadow 0.2s ease, transform 0.2s ease;
    /* Add transition for  transform */

}

.indexImage:hover {
    transform: scale(1.23);
}

/* Add a transition effect for the normal state (not hovering) */
.indexImage:not(:hover) {
    /* transform: scale(1); */
    transition: transform 0.2s ease;
}

h3 {
    font-family: "Poppins", sans-serif;
    animation: slideFromRight 1.5s ease-out;
}

/* for icon whatsApp */
.socialDiv {
    display: flex;
    font-size: 30px;
    position: absolute;
    bottom: 10%;
    right: 50%;

}

.whatsApp {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: solid green 2px;
}



/* for animation  */

@keyframes slideFromRight {
    0% {
        transform: translateX(60%);
    }

    100% {
        transform: translateX(0);
    }
}

/* for resume.html file */

.resume {
    position: relative;
    top: 40px;
}

/* for contact file style */

.contactBody {
    position: relative;
    top: 40px;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 200px);
    align-items: center;

}


.socialPanel {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    position: relative;
    height: 100px;
    align-items: center;
    border-radius: 16px;
    top: 200px;
    width: 30%;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 30px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

/* for github  */
.gitHub {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: solid black 2px;
}

.gitHub:hover {
    scale: 1.1;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    transition: 0.2s ease-in-out;
    box-shadow: 0px 0px 7px black inset,
        0px 0px 7px black;
}

/*  */
.linkedIn {
    font-size: 26px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: solid blue 2px;
}

.linkedIn:hover {
    scale: 1.1;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    transition: 0.2s ease-in-out;
    box-shadow: 0px 0px 7px blue inset,
        0px 0px 7px blue;
}

@media(max-width:767px) {
    .socialPanel {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        position: relative;
        top: 200px;
        width: 100%;
    }
}